developer_token: INSERT_DEVELOPER_TOKEN_HERE
client_id: INSERT_OAUTH_CLIENT_ID_HERE
client_secret: INSERT_OAUTH_CLIENT_SECRET_HERE
refresh_token: INSERT_OAUTH_REFRESH_TOKEN_HERE
customer_id: INSERT_TARGET_CUSTOMER_ID_WITHOUT_HYPHENS
login_customer_id: INSERT_MANAGER_ACCOUNT_ID_WITHOUT_HYPHENS_OR_REMOVE
use_proto_plus: true
